* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Orbitron', sans-serif;
}


.nav_logo {
    /* background-color: #333; */
    width: 15vw;
    height: 5vw;
    color: rgb(201, 201, 201);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo svg {
    /* background-color: #333; */
    position: absolute;
    width: 5em;
    height: 5em;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

svg #arrow_L {
    transform: translateX(-170px);
    animation: getArrows 10s linear infinite;
    opacity: 0;
}

svg #arrow_R {
    transform: translateX(170px);
    animation: getArrows 10s linear infinite;
    opacity: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 50vw;
    height: 65px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

}

.navLinks {

    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: 2em;
}

.navLinks li {
    display: inline;
}

.navLinks li a {
    font-family: 'Orbitron', sans-serif;
    color: rgb(201, 201, 201);
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.navLinks li a:hover {
    color: white;
    text-shadow: 0px 0px 5px white;

}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background: #1d212b; */
    transition: 2s;

}

/* body {
    background: #1d212b;
} */

section:nth-child(2n) {
    background: white;
    color: #1d212b;

}

section .about {
    font-family: 'Orbitron', sans-serif;
    width: 490px;
    color: rgb(201, 201, 201);
    position: absolute;
    left: 8%;
    top: 30%;


    text-shadow: 0px 0px 3px black, 0px 0px 5px white;
}

.bioTitle {
    font-size: 50px;
    position: relative;
    width: 100%;
    z-index: 3;
}



.bioBlock {

    /* background-color: #ffffff53; */
    width: 100%;
    height: auto;
    overflow-y: hidden;

}

.bio {
    /* background-color: #ffffffba; */
    padding: 10px 5px;
    font-size: 14px;
    text-align: justify;
    width: 100%;
    /* height: 100px; */
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(-250px);
    /* box-shadow: 0px 0px 20px 2px white; */
    opacity: 0;
    transition: all 1s ease;


}

.bio .content {
    box-shadow: 0px 0px 5px 1px white;
    padding: 20px 10px;
}
.bio p {
    padding: 10px;
}
/* .bioTitle:hover~.bioBlock .bio {

    background-color: #000000c8;
    z-index: 2;
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0px 0px 15px 3px white;
} */
.activeBio {

    background-color: #000000a8;
    z-index: 2;
    transform: translateY(0px);
    opacity: 1;

}

section h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}


.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: spin 18s linear infinite reverse;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);

    /* outer cyan */
    opacity: 0;
    transition: all 3s ease;
}

section .cards {
    /* background-color: rgb(82, 84, 77); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;

    /* padding: 5px;
    margin: 20px; */
}

section .cards .logo-planet h3 {
    font-family: 'Orbitron', sans-serif;
    font: 30px;
    text-align: center;
    text-transform: uppercase;
}

.space {
    height: auto;
    width: auto;
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sun {
    width: 30vh;
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(1) translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
    box-shadow: 0px 0px 40px 1px yellow;
    animation: pulse-sun 2s linear infinite;
}

.sun:hover {
    cursor: pointer;
}

.sun h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(230, 184, 2);
}

/* .planets {
    width: 20vh;
    height: 20vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-62%, -62%);
} */

.logo-planet {
    width: 20vh;
    height: 20vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotation 18s linear infinite;


    transition: 1.2s ease;
    z-index: -1;


}


@keyframes getArrows {


    20% {

        transform: translateX(0px);
        opacity: 1;

    }

    100% {

        transform: translateX(0px);
        opacity: 1;

    }
}

@keyframes rotation {

    0% {

        transform: translate(-50%, -50%) rotate(0deg);

    }

    100% {

        transform: translate(-50%, -50%) rotate(360deg);

    }
}

@keyframes spin {

    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(360deg);

    }
}

@keyframes pulse-sun {


    0% {
        box-shadow: 0px 0px 50px 1px yellow;

    }

    25% {
        box-shadow: 0px 0px 50px 3px rgb(255, 166, 0);

    }

    50% {
        box-shadow: 0px 0px 50px 2px yellow;

    }

    75% {
        box-shadow: 0px 0px 50px 5px rgb(255, 166, 0);

    }

    100% {
        box-shadow: 0px 0px 50px 3px yellow;

    }
}

.html_position {

    position: absolute;
    left: 26vh;
    top: -20vh;
    opacity: 1;
}

.css_position {

    position: absolute;
    left: 26vh;
    top: 20vh;
    opacity: 1;
}

.js_position {

    position: absolute;
    left: -13vh;
    top: 30vh;
    opacity: 1;
}

.php_position {

    position: absolute;
    left: -35vh;
    top: 0vh;
    opacity: 1;
}

.mySql_position {

    position: absolute;
    left: -13vh;
    top: -30vh;
    opacity: 1;
}



.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.active {
    transform: translateY(0px);
    opacity: 1;
}

#skills {
    background-color: black;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url("space.png");
    /* background: radial-gradient(rgb(50, 50, 50), black, black); */
}


.formTitle {
    font-family: 'Orbitron', sans-serif;
    text-align: left;
}


.form-panel {
    width: 100%;
}

#form {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70vh; */
}

.formFields {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form input,
textarea {
    border: none;
    border-bottom: 1px solid black;
    /* margin: 1vh; */
}

#form input {
    height: 30px;
}

.formSender,
.formMsg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    margin: 1vh;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.send .btn {
    font-family: 'Orbitron', sans-serif;
    width: 150px;
    margin-top: 2vh;
    border-radius: 25px;
    background: linear-gradient(white, rgb(201, 201, 201));
    transition: background 1.5s;

}

.send .btn:hover {
    color: whitesmoke;
    background: linear-gradient(rgb(201, 201, 201), rgb(0, 0, 0));
}

.send h2 {
    text-align: center;
    font-size: 2em;
}

/* ----------burger btn and nav menu-------------- */
.navLinks {
    display: flex;
}

.menu-btn {
    display: none;
    width: 65px;
    height: 65px;
    top: 10px;
    right: 10px;
    position: fixed;
    z-index: 3;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btn-burger {
    width: 40px;
    height: 6px;
    border-radius: 5px;
    background: rgb(201, 201, 201);
    transition: all .5s ease-in-out;
}

.btn-burger::before,
.btn-burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: rgb(201, 201, 201);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn-burger::before {
    transform: translateY(-16px);
}

.btn-burger::after {
    transform: translateY(16px);
}

/* ANIMATION of burger btn */
.menu-btn.open .btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* ------------------------------ */

/* ---------------------------------projects-------------------------- */
#projects {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-container {
    margin: 0;
    /* padding-top: 50px; */
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 10px solid red; */
}


.image-block {
    /* position: relative;
    width: 350px;
    height: 250px; */

    position: relative;
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: 10px solid rgb(201, 201, 201);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    cursor: pointer;

}

.image-block .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s linear;
    /* position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    object-fit: cover;
    border: 10px solid rgb(201, 201, 201);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    cursor: pointer; */

}

.image-block .img:hover {
    transform: scale(1.1);
}

.popup-img {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.80);
    overflow: hidden;
    display: none;
    /* opacity: 0; */
    /* transition: all 2s; */

}


figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-height: 60vh; */
    width: 60vw;

    /* height: auto; */
}

.popup-img .pop {
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-height: 100%;
    max-width: 100%;
    /* width: 80%; */
    /* max-height: 60vh;
    max-width: 80vw;
    height: auto; */


}

.project-info {
    opacity: 0;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.866);
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translateY(0%);
    width: 100%;
    /* max-width: 100%; */
    height: 20%;
    transition: all 1s;

}



.popup-img .pop:hover+.project-info {
    transform: translateY(0%);
    opacity: 1;

}

.project-info:hover {
    transform: translateY(0%);
    opacity: 1;

}

.popup-img span {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;

}

.popup-img span:hover {
    cursor: pointer;

}

.popup_link {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    z-index: 3;

}

.popup_icon {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.popup_icon:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.backNext {
    position: absolute;
    transform: translateY(-50%);
    z-index: 3;
}



.back {
    top: 50%;
    left: 5%;
}

.next {
    top: 50%;
    right: 5%;
}

.backNext:hover path {

    fill: rgb(201, 201, 201);
    transition: 0.5s;

}

.backNext:hover path {

    fill: white;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.799));

}

.backNext svg {
    cursor: pointer;
    width: 50px;

}


.galery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    gap: 10px;
}

@media(max-width:950px) {
    .project-info {
        height: 40%;
    }

    figure {
        width: 80vw;
    }

    .galery {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    section .about {
        width: 500px;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);

    }

    .about h1 {
        text-align: center;
        font-size: 40px;
    }

    .about h2 {
        text-align: center;
        font-size: 30px;
    }

    /* -----------burger btn and nav menu----------------- */

    header {

        justify-content: space-between;
        width: 100%;
        top: 0%;
        left: 0%;
        transform: translateX(0%);
        z-index: 2;
        position: fixed;
    }

    .navLinks {
        z-index: 2;
        font-size: x-large;
        font-weight: bold;

        height: 100vh;
        /* width: 100vw; */
        background-image: linear-gradient(135deg, black, rgb(46, 46, 46));
        opacity: 0.95;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        transition: top 1s ease;
        display: none;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        right: 0px;
    }

    /* ---------------------------------------- */
    #form {

        flex-direction: column;
        justify-content: space-between;
        /* height: 70vh; */
    }

    .formFields {

        flex-direction: column;

    }

    .formSender,
    .formMsg {

        width: 95%;

    }


    section h1 {
        font-size: 40px;
    }

    /* -------------planet skils----- */
    .logo-planet {
        width: 15vh;
        height: 15vh;
    }

    .sun {
        width: 25vh;
        height: 25vh;
    }

    .html_position {

        left: 23vh;
        top: -6vh;
    }

    .css_position {

        left: 14vh;
        top: 18vh;
    }

    .js_position {

        left: -14vh;
        top: 18vh;
    }

    .php_position {

        left: -21vh;
        top: -7vh;
    }

    .mySql_position {

        left: 0;
        top: -24vh;
    }
}


@media(max-width: 500px) {
    .image-block {
        width: 80vw;
    }

    section .about {
        /* width: 100%; */
        width: 320px;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }

    .bio p {
        padding: 7px;
        font-size: 13px;
    }



    .about h1 {
        text-align: center;
        font-size: 25px;
    }

    .about h2 {
        text-align: center;
        font-size: 15px;
    }

    .logo-planet {
        width: 70px;
        height: 70px;
        /* transform: translate(-50%, -50%); */
    }

    .sun {
        width: 115px;
        height: 115px;
    }

    .sun h2 {
        font-size: 25px;
    }

    .html_position {

        left: 26vw;
        top: -15vw;
    }

    .css_position {

        left: 26vw;
        top: 15vw;
    }

    .js_position {

        left: -8vw;
        top: 28vw;
    }

    .php_position {

        left: -30vw;
        top: 0vw;
    }

    .mySql_position {

        left: -8vw;
        top: -28vw;
    }
}

.thanks {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.thanks_title {}

.thanks_msg {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
